---
import { ViewTransitions } from "astro:transitions";
import { SITE_URL } from "../consts";
interface Props {
	title: string;
	ogImage?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, ogImage = "/default-og.png" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
        <!-- Global Metadata -->
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <!-- Canonical URL -->
        <link rel="canonical" href={canonicalURL} />

        <!-- Primary Meta Tags -->
        <title>{title}</title>
        <meta name="title" content={title} />
		<meta name="description" content="Aditya's website" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<script is:inline async src="https://kit.fontawesome.com/7626f6da6a.js" crossorigin="anonymous"></script>

        <!-- Open Graph Tags -->
        <meta property="og:title" content={title} />
        <meta property="og:image" content={ogImage} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={canonicalURL} />
        <meta property="og:locale" content="en_GB" />

        <!-- Facebook Meta Tags -->
        <meta property="og:description" content="Aditya's website">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content={SITE_URL}>
        <meta property="twitter:url" content={canonicalURL}>
        <meta name="twitter:title" content="Aditya Addepalli">
        <meta name="twitter:description" content="Aditya's website">
        <meta name="twitter:image" content={ogImage} >

        <!-- View Transitions -->
        <ViewTransitions />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script is:inline type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-S84DNFKJ2N"></script>
		<script is:inline type="text/partytown" async>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-S84DNFKJ2N');
		</script>

        <!-- Calendly -->
		<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
		<script is:inline async src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
/* global */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #dee4e7;
    color: #7A7C80;

}
</style>